<div class="CardDev">
    <section class="Info">
        <img src="{{imagem}}" alt="Foto do desenvolvedor">
        <h3>{{nome}}</h3>
    </section>
    <section class="Contato">
        <div class="BoxContato">
            <img src="https://img.icons8.com/stickers/100/null/message-group.png" alt="Icon Email">
            <div>
                <p>E-Mail:</p>
                <p>{{email}}</p>
            </div>
        </div>
        <div class="BoxContato">
            <img src="https://img.icons8.com/stickers/100/null/linkedin-circled.png" alt="Icon Linkedin">
            <p>Linkedin: <a href="{{linkedin}}" target="blank">{{linkedin}}</a></p>
        </div>
        <div class="BoxContato">
            <img src="https://img.icons8.com/stickers/100/null/github.png" alt="Icon GitHub">
            <p>GitHub: <a href="{{github}}" target="blank">{{github}}</a></p>
        </div>
    </section>
</div>
